<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="close" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <!--h4 class="modal-title" id="myModalLabel">Modal title</h4-->
          <%= image_tag "LOGO_LONG_BLACK_EGC-mini.png", height: 75 %>
      </div>
      <div class="modal-body">
        <%#= image_tag "POPUP_site_egc.jpg", class: "img-responsive image-text" %>
        <%= render 'static_pages/home/billeterie' %>
      </div>
      <div class="modal-footer">
        <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button-->
        <%= render "static_pages/home/mail_retriever" %>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-12 home-banniere">
      <%= image_tag "Header_LOGO_NEW.png", class: "img-responsive" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8" id="left-mosaique">

      <div class="row">
        <div class="col-md-12 mosaique slideshow">
          <!--Slideshow-->
          <%#= render partial: 'static_pages/home/carousel' %>
            <%= render 'static_pages/home/billeterie' %>
        </div>
      </div>

      <div class="row">

        <%= render partial: "static_pages/home/mosaique_jeu", locals: { gametag: :csgo} %>
        <%= render partial: "static_pages/home/mosaique_jeu", locals: { gametag: :lol} %>
        <%= render partial: "static_pages/home/mosaique_jeu", locals: { gametag: :sc2} %>
        <%= render partial: "static_pages/home/mosaique_jeu", locals: { gametag: :hs} %>

      </div>
    </div><!-- col-md-8 left-mosaique -->

    <div class="col-md-4" id="right-mosaique">
      
      <!--div class="row">
        <div class="col-md-12 mosaique billeterie">
          <a href="#" data-toggle="modal" data-target="#myModal">
            <%#= render 'static_pages/home/billeterie' %>
          </a>
        </div>
      </div-->

      <div class="row">
        <div class="col-md-12 mosaique twitter center-block">
          <a class="twitter-timeline" href="https://twitter.com/EvryGamesCity" data-widget-id="544111284875440128">Tweets de @EvryGamesCity</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mosaique instagram">
          <div class="panel transparent">
            <div class="panel-heading text-center">
              <h4><%= image_tag "Instagram_Menu_icon_1.png", alt: "Instagram", style: "margin-top: -5px; margin-right: 5px;" %>INSTAGRAM #EVRYGAMESCITY</h4>
            </div>
            <div class="panel-body">
              <!-- user:EvryGamesCity -->
              <!-- SnapWidget -->
              <iframe src="http://snapwidget.com/sl/?u=ZXZyeWdhbWVzY2l0eXxpbnwzMDB8M3wzfHxub3w1fG5vbmV8b25TdGFydHx5ZXN8bm8=&ve=191214" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; height:277px"></iframe>


              <!-- hashtag:EGVRYGAMESCITY-->
              <!-- SnapWidget -->
              <!--iframe src="http://snapwidget.com/sl/?h=ZXZyeWdhbWVzY2l0eXxpbnwzMDV8M3wzfHxub3w1fG5vbmV8b25TdGFydHx5ZXN8bm8=&ve=221214" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:300px"></iframe-->
            </div>
          </div>
        </div>
      </div>

    </div><!-- col-md-4 right-mosaique -->

  </div>


  <div class="row youtube">
    <div class="col-md-12 youtube-container embed-responsive-16by9">
      <iframe class="embed-responsive-item" style="width: 100%; height: 400px" src="https://www.youtube.com/embed/ZoysSBhJqeY" frameborder="0" allowfullscreen></iframe>

    </div>
  </div>


  <div class="row infos">
    <% [:infolieu, :infodate, :infomoyen, :infoprix].each do |infotag| %>
      <%= render partial: "static_pages/informations/info_mosaique", locals: {infotag: infotag} %>
    <% end %>
  </div>


  <div class ="row visible-xs">
    <div class="col-md-12" style="border-top: 2px solid #eaeaea;"></div>
  </div>

  <div class="row partenaires">
    <%= render "static_pages/partenaires/partenaire_carousel" %>
  </div>
  <!-- div class="row partenaires">
    <%#= render partial: 'static_pages/home/partenaires_carousel' %>
  </div-->



  <div class="row home-footer">

    <div class="col-md-4">
      <div class="panel transparent">

        <div class="panel-heading">
          NOUS SUIVRE 
        </div>
        <div class="panel-body row">
          <div class="col-md-6">
            <small>Retrouvez le meilleur de notre communauté</small>
          </div>
          <div class="col-md-6 row social-links">
            <div class="social-link">
              <a href="https://www.facebook.com/pages/Evry-Games-City/744555588972740" target="_blank" class="fb-icon hover">
                <%= image_tag "Facebook_Menu_icon_1.png", class: "white-icon" %>
                <%= image_tag "Facebook_Menu_icon_2.png", class: "orange-icon" %>
              </a>
            </div>
            <div class="social-link">
              <a href="https://twitter.com/EvryGamesCity" target="_blank" class="tw-icon hover">
                <%= image_tag "Twitter_Menu_icon_1.png", class: "white-icon" %>
                <%= image_tag "Twitter_Menu_icon_2.png", class: "orange-icon" %>
              </a>
            </div>
            <div class="social-link">
              <a href="https://instagram.com/EvryGamesCity" target="_blank" class="igm-icon hover">
                <%= image_tag "Instagram_Menu_icon_1.png", class: "white-icon" %>
                <%= image_tag "Instagram_Menu_icon_2.png", class: "orange-icon" %>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-5 hidden-xs middle-home-footer" style="color: black;">
     <%= image_tag "Newsletter_bottom.png", class: "img-responsive center-block img-txt" %>     
     <%= render "static_pages/home/mail_retriever" %>
    </div>


    <div class="col-md-3 right-home-footer">
      <%= image_tag "LOGO_LONG_BLACK_EGC-mini.png", height: "80", class: "center-block img-responsive img-logo" %>
      <!--div class="text-center small">© EvryGamesCity</div-->
    </div>

  </div>
