<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span class="close" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <!--h4 class="modal-title" id="myModalLabel">Modal title</h4-->
          <%= image_tag "LOGO_LONG_BLACK_EGC-mini.png", height: 75 %>
      </div>
      <div class="modal-body">
        <%#= image_tag "POPUP_site_egc.jpg", class: "img-responsive image-text" %>
        <%= render 'static_pages/home/billeterie' %>
      </div>
      <div class="modal-footer">
        <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button-->
        <%= render "static_pages/home/mail_retriever" %>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-12 home-banniere">
      <%= image_tag "Header_LOGO_NEW.png", class: "img-responsive" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8" id="left-mosaique">

      <div class="row">
        <div class="col-md-12">
          <!--Slideshow-->
            <%= render 'static_pages/home/billeterie' %>
        </div>
      </div>
      
      <div class="panel transparent" style="
    margin-top: 10px">
        
        <div class="panel-heading text-center">
        <h4>L'événement « so gaming » !</h4>
      </div>
<p style="font-size:120%; padding:10px;">
  Evry Games City c’est le rendez-vous annuel « so gaming » de la culture numérique et du jeu vidéo en ile de France.<br />
  Porté par le succès de la première édition, Evry Games City 2 revient les 16 et 17 Avril prochain aux Arènes de l’Agora, pour deux jours de programmation exceptionnelle.<br />
  <br />
  Entre nouveautés des éditeurs, création des studios indépendants, innovations technologiques, tournois        
  e-sports, et masterclass dédiées à la découverte et au partage de connaissance, Evry Games City 2 a pour 
  ambition de proposer la plus belle et la plus riche des expériences gaming en Ile de France.<br />
  <br />
  Découvrez nos quatre univers, la <a class="navlink" href="/discovering">Discovering Zone</a>, la <a class="navlink" href="/playing">Playing Zone</a>, la <a class="navlink" href="/gaming">Gaming Zone</a>, ainsi que la <a class="navlink" href="/learning">Learning Zone</a>.
</p>
</div>

    </div><!-- col-md-8 left-mosaique -->

    <div class="col-md-4" id="right-mosaique">
      
      <!--div class="row">
        <div class="col-md-12 mosaique billeterie">
          <a href="#" data-toggle="modal" data-target="#myModal">
            <%#= render 'static_pages/home/billeterie' %>
          </a>
        </div>
      </div-->

      <div class="row">
        <div class="col-md-12 mosaique twitter center-block">
          <a class="twitter-timeline" href="https://twitter.com/EvryGamesCity" data-widget-id="544111284875440128">Tweets de @EvryGamesCity</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>



    </div><!-- col-md-4 right-mosaique -->

  </div>


  


  <div class="row infos">
    <% [:infolieu, :infodate, :infomoyen, :infoprix].each do |infotag| %>
      <%= render partial: "static_pages/informations/info_mosaique", locals: {infotag: infotag} %>
    <% end %>
  </div>


  <div class ="row visible-xs">
    <div class="col-md-12" style="border-top: 2px solid #eaeaea;"></div>
  </div>

  <!--<div class="row partenaires">
    <%#= render "static_pages/partenaires/partenaire_carousel" %>
  </div> -->
  <!-- div class="row partenaires">
    <%#= render partial: 'static_pages/home/partenaires_carousel' %>
  </div-->



  <div class="row home-footer">

    <div class="col-md-4">
      <div class="panel transparent">

        <div class="panel-heading">
          NOUS SUIVRE 
        </div>
        <div class="panel-body row">
          <div class="col-md-6">
            <small>Retrouvez le meilleur de notre communauté</small>
          </div>
          <div class="col-md-6 row social-links">
            <div class="social-link">
              <a href="https://www.facebook.com/pages/Evry-Games-City/744555588972740" target="_blank" class="fb-icon hover">
                <%= image_tag "Facebook_Menu_icon_1.png", class: "white-icon" %>
                <%= image_tag "Facebook_Menu_icon_2.png", class: "orange-icon" %>
              </a>
            </div>
            <div class="social-link">
              <a href="https://twitter.com/EvryGamesCity" target="_blank" class="tw-icon hover">
                <%= image_tag "Twitter_Menu_icon_1.png", class: "white-icon" %>
                <%= image_tag "Twitter_Menu_icon_2.png", class: "orange-icon" %>
              </a>
            </div>
            <div class="social-link">
              <a href="https://instagram.com/EvryGamesCity" target="_blank" class="igm-icon hover">
                <%= image_tag "Instagram_Menu_icon_1.png", class: "white-icon" %>
                <%= image_tag "Instagram_Menu_icon_2.png", class: "orange-icon" %>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-5 hidden-xs middle-home-footer" style="color: black;">
     <%= image_tag "Newsletter_bottom.png", class: "img-responsive center-block img-txt" %>     
     <%= render "static_pages/home/mail_retriever" %>
    </div>


    <div class="col-md-3 right-home-footer">
      <%= image_tag "LOGO_LONG_BLACK_EGC-mini.png", height: "80", class: "center-block img-responsive img-logo" %>
      <!--div class="text-center small">© EvryGamesCity</div-->
    </div>

  </div>
