<!--div class="panel panel-info">
  <div class="panel-body text-center">
    <h1><%#= t(:infopratiques) %></h1>
  </div>
</div-->


<div class="panel panel-default"> <!-- Info lan -->
  <div class="panel-heading">
    <%= render partial: 'static_pages/informations/info_subsection', locals: {infotag: :infolan} %>
  </div>
  <div class="panel-body row">
    <div class="col-md-2">
      <%= image_tag 'affiche.jpg', width: 135 %>
    </div>
    <div class="col-md-10">
      <p><%= t("infolan.text") %></p>
      <p><%= t("infolan.text2") %> </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 left-column">

    <div class="panel panel-default"><!-- Où ? -->
      <div class="panel-heading">
        <%= render partial: 'static_pages/informations/info_subsection', locals: {infotag: :infolieu} %>
      </div>
      <div class="panel-body">
        <p><%= t("infolieu.text") %></p>
      </div>
    </div>


    <div class="panel panel-default"><!-- Comment ? -->
      <div class="panel-heading">
        <%= render partial: 'static_pages/informations/info_subsection', locals: {infotag: :infomoyen} %>
      </div>
      <div class="panel-body">
        <h4><%= t("infomoyen.rerd.title") %></h4>
        <p><%= t("infomoyen.rerd.text") %></p>
        <h4><%= t("infomoyen.route.title") %></h4>
        <p><%= t("infomoyen.route.text") %> </p>
      </div>
    </div>

    <div class="panel panel-default"><!-- Quand ? -->
      <div class="panel-heading">
        <%= render partial: 'static_pages/informations/info_subsection', locals: {infotag: :infodate} %>
      </div>
      <div class="panel-body">
        <p><%= t("infodate.text") %></p>
      </div>
    </div>

  </div><!-- left column-->


  <div class="col-md-6 right-column">

    <div class="panel panel-default google-maps"><!-- Plan -->
      <iframe width="350" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Ar%C3%A8nes%20de%20l'Agora%2C%2091000%20Evry%2C%20France&key=AIzaSyCj5JRiau8OMBTI8Hi6Cysv7Zcdrl0Kb_I"></iframe>
    </div>

    <div class="panel panel-default"><!-- Combien ? -->
      <div class="panel-heading">
        <%= render partial: 'static_pages/informations/info_subsection', locals: {infotag: :infoprix} %>
      </div>
      <div class="panel-body">
        <p><%= t("infoprix.text") %></p>
        <p><%= t("infoprix.text2") %></p>
      </div>
    </div>

  </div> <!-- right column -->
</div>



<div class="row">

  <div class="col-md-12">

    <div class="panel panel-default"><!-- Services -->
      <div class="panel-heading">
        <%= render partial: 'static_pages/informations/info_subsection', locals: {infotag: :infoservice} %>
      </div>
      <div class="panel-body">
        <p><%= t("infoservice.text") %></p>
      </div>
    </div>

  </div>
</div>





