<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1><%= t(:infopratiques) %></h1>
  </div>
</div>

<!--div class="row">

<!--div class="panel transparent"> <!-- Info lan -->
  <!--div class="panel-heading">
    <%#= render partial: 'static_pages/informations/info_subsection', locals: {infotag: :infolan} %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <%#= image_tag 'EGC_MASTER-mini.jpg', width: 200 %>
      </div>
      <div class="col-md-9">
        <p><%#= t("infolan.text") %></p>
        <p><%#= t("infolan.text2") %> </p>
      </div>
    </div>
  </div>
</div-->

<!--/div--><!-- row -->

<div class="row">
  <div class="col-md-6 left-column">


      <div class="panel transparent">
      <div class="panel-heading text-center">
        <h4>HORAIRES</h4>
      </div>
      <div class="panel-body">
        <p>
          <h4 class="orange">Samedi 25 Avril</h4>
         Ouverture de 10h00 à 17h30 <br />
       </p>
       <p>
          <h4 class="orange">Soirée Évènement</h4>
          Le samedi soir, de 20h00 à 22h40 (interdit au moins de 16 ans)<br />
          En raison du plan Vigipirate, la salle sera fermée dans la nuit du samedi au dimanche
       </p><p>
          <h4 class="orange">Dimanche 26 Avril</h4>
          Ouverture de 10h00 à 19h30<br /> 
       </p>
      </div>
    </div>

    <div class="panel transparent">
      <div class="panel-heading text-center">
        <h4>ACCES</h4>
      </div>
      <div class="panel-body">
        <p><h4 class="orange">Adresse</h4>
           Arènes de l'Agora, 91000 Évry<br />
           <h4 class="orange">RER D</h4>
           Paris gare du Nord/Châtelet/Gare de Lyon direction Corbeil - Malesherbes, station Evry-Courcouronnes, sortie Agora (à 5 minutes des Arènes)<br />
           <h4 class="orange">Voiture</h4>
           A6 depuis Paris direction Lyon, sortie Evry puis direction Agora par le boulevard de l'Europe / Francilienne depuis Corbeil-Essonnes : sortie Bois Briard depuis Fleury-Mérogis, sortie Evry puis direction Agora par le boulevard de l'Europe<br />
           <h4 class="orange">Autobus</h4>
           Autobus TICE, arrêt Gare SNCF ou Agora</p>
      </div>
    </div>


    <div class="panel transparent"><!-- Hébergement -->
      <div class="panel-heading text-center">
        <h4>HEBERGEMENT</h4>
      </div>
      <div class="panel-body">
	<p><a class="hoverable" href="http://www.residhome.com/residence-hoteliere-aparthotel-evry-152.html" style=""><%= image_tag "logo_residhome_2.png", width: "100px"%></a> ( Résidence hôtelière 4 étoiles )<br />
	1 Rue Ambroise Croizat<br />
	91000 EVRY<br />
	Tel : +33 (0)1 69 47 47 47<br />
	Fax : +33 (0)1 69 47 47 48</p>

	<p>À 2 minutes à pied de la gare Évry-Courcouronnes Centre</p>

	<p><span class="orange">Code promotion disponibles pour :</span>
	<ul>
	<li>Joueurs</li>
	<li>Presse</li>
	<li>Invités d'honneurs</li>
	<li>Spectateurs (dans la limite des places disponibles)</li>
	</ul></p>

	<p>Tarifs préférentiels:<br />
	<ul>
	<li>61€/nuit Appartement studio pour 1 ou 2 personnes.</li>
	<li>111€/nuit Suites 2 pièces pour 1 ou 4 personnes.</li>
	</ul>
	</p>

	<p>Pour toute réservation au Residhome Paris-Evry, veuillez remplir le formulaire disponible à cette adresse : <%= link_to "goo.gl/forms/k3VqVF09f6", "http://goo.gl/forms/k3VqVF09f6", target: "_blank" %>.</p>
      </div>
    </div>







  </div><!-- left column-->


  <div class="col-md-6 right-column">

    <div class="panel transparent">
      <div class="panel-heading text-center">
        <h4>TARIFS</h4>
      </div>
      <div class="panel-body">
        <h4 class="orange">Places spectateurs</h4>
        <div class="tabule">

        <div class="orange">En prévente</div>
          <div class="tabule">
          Tarif pack week end : 10€<br />
          Tarif qualifications samedi : 7€<br />
          Tarif finales dimanches : 8€
          </div>
        <div class="orange">Sur place</div>
          <div class="tabule">
          Tarif qualifications samedi : 8€<br />
          Tarif finales dimanche : 10€
          </div>
        </div>

        <!--h4 class="orange">Places joueurs</h4>
          <div class="tabule">Voir section tournois </div>
        <br /-->
        <h4 class="orange">N'achetez jamais votre billet à un inconnu !</h4>
        <p style="font-size: 14px;">Vous n'auriez aucune garantie de sa validité. Seuls les billets achetés sur <%= link_to "evrygamescity.fr", "http://www.evrygamescity.fr" %> et directement aux caisse des Arènes de l’Agora à Evry vous garantissent l'entrée aux Evry Games City. Nous vous rappelons qu'un billet acheté à l'avance vous donne accès directement au contrôle et vous évite ainsi la queue aux caisses ! </p>
      </div>
    </div>


   <div class="panel panel-default google-maps"><!-- Plan -->
      <iframe width="350" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Ar%C3%A8nes%20de%20l'Agora%2C%2091000%20Evry%2C%20France&key=AIzaSyCj5JRiau8OMBTI8Hi6Cysv7Zcdrl0Kb_I"></iframe>
    </div>


    <div class="panel transparent"><!-- Services -->
      <div class="panel-heading text-center">
        <h4>SERVICES</h4>
      </div>
      <div class="panel-body">
        <p>Des serveurs funs seront mis en place pour tous ceux qui souhaitent se détendre entre 2 parties ou tout simplement jouer avec les personnes présentes :</p>
        <ul>
          <li>TeeWorlds</li>
          <li>CS Source</li>
          <li>Trackmania</li>
          <li>Team Fortress 2</li>
        </ul>
        <p>Des câbles et des PC seront disponibles à la location sur place, dans la limite des stocks disponibles.<br />
           Un <%= link_to "Hôtel Ibis", "http://www.ibis.com/fr/hotel-1986-ibis-styles-evry-cathedrale/index.shtml"%> se situe à proximité.<br />
           De nombreux restaurants du Centre Commercial Evry 2 situé à proximité seront accessibles.</p>
        
      </div>
    </div>




  </div> <!-- right column -->
</div>



<div class="row">





</div>





