<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1 class="contact-title"> Evry Games City 2 </h1>
  </div>
</div>

<div class="panel transparent">

  <div class="panel-heading text-center bold">
    <h3>Présentation de l'évènement </h3>
  </div>

  <div class="panel-body">
    <div class="col-md-12 col-xs-12">

      <h3 class="bold orange" style="font-size: 18px;">EVRY GAMES CITY, C’EST QUOI ?</h3>
      <p style="">
         Porté par le succès de la première édition, <span class="orange">Evry Games City 2 revient les 16 et 17 Avril</span> prochain aux Arènes de l'Agora, pour deux jours de programmation exceptionnelle. Entre nouveautés des éditeurs, création des studios indépendants, innovations technologiques, tournois eSport, et masterclass dédiées à la découverte et au partage de connaissance, Evry Games City 2 a pour ambition de proposer la plus belle et la plus riche des expériences gaming en Ile de France.
      </p>
      </div>

    <div class="row">
      <div class="col-md-6 col-xs-6 image-deroulante dropdown">
          <div class="image-titre dropdown-toggle" data-toggle="dropdown" id="dropdown1" aria-expanded="true">
	      <%= image_tag "image_presentation_tiny_1.png", class:"img-responsive"%>
	      <p><span class="orange bold" >DISCOVERY ZONE</span> (220 m<sup>2</sup>)</p>
          </div>

          <div class="panel transparent texte-deroulant dropdown-menu" aria-labelledby="dropdown1">
	      <p>Pour cette deuxième édition, les organisateurs ont décidé de mettre à l'honneur la créativité et l'innovation made in France. Ce sont 40 des meilleurs studios indépendants français qui seront présents pour faire découvrir et partager leurs réalisations. Créé spécialement pour l'occasion, le prix "Indie Games City" récompensera les meilleurs projets (PC, console, smartphone) et permettra à l'un d'entre eux de représenter la "French Touch" lors du prochain salon E3 de Los Angeles. La mise en oeuvre de cette édition spéciale studios indépendants français a été confiée à l'équipe de <span class="orange">Budgames Interactive</span>.  </p>
	      
         </div>
      </div>
      



     <div class="col-md-6 col-xs-6 image-deroulante dropdown">
          <div class="image-titre dropdown-toggle" data-toggle="dropdown" id="dropdown3" aria-expanded="true">
	      <%= image_tag "image_presentation_tiny_3.png", class:"img-responsive" %>
	      <p><span class="orange bold">GAMING ZONE</span> (250 m<sup>2</sup>)</p>
          </div>

          <div class="panel transparent texte-deroulant dropdown-menu" aria-labelledby="dropdown3">
	      <p>Un parcours visiteurs toujours plus riche pour permettre aux visiteurs de tester toutes les nouveautés des éditeurs. En partenariat avec Xbox One, Sony Playstation, Nintendo, Evry Games City 2 propose cette année plus de 70 bornes en libre service qui attendent les visiteurs de tous âges pour tester toutes les nouveautés des éditeurs partenaires.</p>
	      
         </div>
      </div>

      </div>

<div class="row">
      <div class="col-md-6 col-xs-6 image-deroulante dropdown">
          <div class="image-titre dropdown-toggle" data-toggle="dropdown" id="dropdown1" aria-expanded="true">
	      <%= image_tag "image_presentation_tiny_2.png", class:"img-responsive"%>
	      <p><span class="orange bold" >PLAYING ZONE</span> (220 m<sup>2</sup>)</p>
          </div>

          <div class="panel transparent texte-deroulant dropdown-menu" aria-labelledby="dropdown1">
	      <p>Les tournois eSport reviennent plus nombreux pour la 2eme année consécutive à Evry. A cette occasion, les organisateurs mettent à disposition des joueurs le Théâtre de l'Agora, transformé pour l'occasion en eSport Arena avec une capacité de plus de 240 places assises. Organisé avec le soutien opérationnel de The eSport Academy et des Masters Français du Jeu Vidéo, l'événement permettra aux meilleurs gamers du moment de s'affronter lors de finales en live.  </p>
	      
         </div>
      </div>
      



     <div class="col-md-6 col-xs-6 image-deroulante dropdown">
          <div class="image-titre dropdown-toggle" data-toggle="dropdown" id="dropdown3" aria-expanded="true">
	      <%= image_tag "image_presentation_tiny_1.png", class:"img-responsive" %>
	      <p><span class="orange bold">LEARNING ZONE</span> (250 m<sup>2</sup>)</p>
          </div>

          <div class="panel transparent texte-deroulant dropdown-menu" aria-labelledby="dropdown3">
	      <p>2 jours de masterclass interactives et participatives entre le public et le meilleur de la création indépendante française. Tout savoir sur l'élaboration d'un jeu, que ce soit sur console, sur PC, ou sur mobile. A tour de rôle, studios, éditeurs, associations, et personnalités, viendront présenter sur scène leurs réalisations et business, exposer leurs inspirations et méthodes pour donner vie à leurs projets de jeu vidéo.</p>
         </div>
      </div>

      </div>
      
      <div class="row">
      <div class="col-md-12 col-xs-12">
          <p><span class="orange bold">Une nouveauté en 2016</span> : L'opération "Une manette pour les quartiers"</p>
          <p>Pendant 2 jours, des célébrités et personnalités du jeu vidéo vont défier online le grand public sur 2 jeux référents : FIFA 16 et Mario Kart 8. Tous les gains récoltés et les dotations apportées par les partenaires serviront à proposer des consoles de jeu en libre service aux associations de quartiers et à mettre en place pour les habitants d'Evry des modules de cours de perfectionnement aux jeux vidéo, encadrés par des champions reconnus.</p>
      </div>
      </div>
          
  </div>


</div>



<div class="row panel transparent dropdown panel-deroulant">
  <div class="panel-heading text-center bold dropdown-toggle" data-toggle="dropdown" id="dropdown5" aria-expanded="true">
    <h3>Evry, ville numérique</h3>
  </div>
  <div class="panel transparent panel-body dropdown-menu" aria-labelledby="dropdown5">
    <span><h4 class="orange small_bold">Évry ville connectée</h4>
   Ambition majeure de la Ville d’Évry, le numérique est plus que jamais implanté sur notre territoire. Salles informatiques renforcées, partage de contenus, accès à internet amélioré, l’école 2.0 est bien installée à Évry ! Grâce aux nombreuses grandes écoles présentes, Télécom Sud Paris, l’ENSIIE ou encore Télécom École de Management, l’informatique est l’un des atouts de notre territoire.<br /><br />

Sans compter que la Fibre optique arrive. Une convention entre Orange, les Villes d’Évry et de Ris-Orangis et l’Agglomération Évry Centre Essonne a récemment été signée pour permettre le déploiement de l’internet à très haut débit dans tous les quartiers, dans toutes les habitations.<br />

L’objectif : une couverture complète d’ici la fin 2018 ( déjà, 33% de couverture fin 2015 )<br /><br />
Rejoignez la Ville d’Évry sur <%= link_to "Facebook", "https://www.facebook.com/pages/Evry/47685962630", target: "_blank" %>, <%= link_to "Twitter", "https://twitter.com/villedevry", target: "_blank" %> et <%= link_to "evry.fr", "http://www.evry.fr/", target: "_blank" %>.<br /><br />

<%= image_tag "Partenaires_LOGOS_EVRY_bis.png", class: "img-responsive" %>

    <h4 class="orange small_bold">La jeunesse, au cœur d’Évry</h4>
   
25 000. Voilà un chiffre impressionnant. Près de 25 000 personnes ont moins de 30 ans à Évry, ville la plus jeune de France. Parallèlement, notre territoire accueille 16 000 étudiants qui viennent tout au long de l’année faire leurs études. Logiquement, la jeunesse est au cœur de nos ambitions, de nos projets. Citoyens en devenir, porteurs de rêves, de propositions, les 15-30 ans sont prêts à relever les nombreux défis qui les attendent. Leur rôle : devenir acteur de leur vie, de leur ville, de leur pays. Le rôle de la municipalité: les accompagner, les encourager, leur donner les moyens d’atteindre leurs objectifs, quels qu’ils soient, transformer leur dynamisme, leur motivation en réussite.
    </span>
  </div>
</div>


<div class="row panel transparent dropdown panel-deroulant">
  <div class="panel-heading text-center bold dropdown-toggle" data-toggle="dropdown" id="dropdown6" aria-expanded="true">
    <h3>L’ENSIIE, grande école d’excellence</h3>
  </div>
  <div class="panel transparent panel-body dropdown-menu" aria-labelledby="dropdown6">
    <span><h4 class="orange small_bold">École Nationale Supérieure d’Informatique pour l’Industrie et l’Entreprise - ENSIIE</h4>

Depuis 1968, l’ENSIIE délivre un diplôme d’ingénieur en informatique. Certifiée ISOinformatique. Certifiée ISO 9001, elle accueille chaque année 130 étudiants en cycle initial, 30 en apprentissage et 40 élèves dans son antenne de Strasbourg.<br /><br />

L’ENSIIE tire la force du triple positionnement de sa formation, sur les mathématiques, l’informatique et l’organisation des entreprises. Les étudiants ont accès en 3ème année aux 11 masters recherche co-opérés avec l'Université de Paris-Saclay et l’Université de Strasbourg.<br /><br />

Depuis 3 ans l’ENSIIE a opéré un rapprochement pour intégrer l’Institut Mines Télécom. Avec Télécom SudParis (TSP) et Télécom École de Management (TEM), l'ENSIIE oeuvre pour faire du site d'Évry la première plate-forme nationale de formation d’ingénieurs en informatique et en TIC, tournée vers l’innovation et la création d’entreprise.<br /><br />

Depuis 2012, l’ENSIIE développe le projet de cluster ISR (Innovation Socialement Responsable) sur les jeux vidéo et l'urbanisme collaboratif. Situé sur 2500 m², en plein coeur d’Évry et labellisé par Cap Digital, le cluster a pour objectif de conjuguer recherche, formation entrepreneuriat et cultures numériques. En 2013 a été accueillie la première équipe en pré-incubation, pour favoriser le développement de maquettes et de prototypes, en septembre 2014 a été inaugurée la première formation sur les Jeux Vidéo.</span>

  </div>
</div>
