<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1 class="contact-title"> Evry Games City 2 </h1>
  </div>
</div>

<div class="panel transparent">

  <div class="panel-heading text-center bold">
    <h3>Présentation de l'évènement </h3>
  </div>

  <div class="panel-body">
    <div class="col-md-12 col-xs-12">

      <h3 class="bold orange" style="font-size: 18px;">EVRY GAMES CITY, C’EST QUOI ?</h3>
      <p style="">
         A l’initiative de l’ENSIIE (Ecole Nationale Supérieure d’Informatique pour l’Industrie et l’Entreprise) et la Mairie de Evry Centre
         Essonne (91), <span class="orange" style="">EVRY GAMES CITY</span> c’est le nouveau grand rendez-vous annuel « so gaming » de la
         culture numérique et du jeu vidéo en France.
      </p>
      <p style="">
        <span class="orange">EVRY GAMES CITY</span> ce n’est pas un salon , mais un événement d’un nouveau genre qui a pour
        ambition de permettre à un large public de se rencontrer, de partager et de découvrir les dernières innovations du
        secteur.
      </p>
      </div>

    <div class="row">
      <div class="col-md-6 col-xs-6 image-deroulante dropdown">
          <div class="image-titre dropdown-toggle" data-toggle="dropdown" id="dropdown1" aria-expanded="true">
	      <%= image_tag "image_presentation_tiny_1.png", class:"img-responsive"%>
	      <p><span class="orange bold" >DISCOVERY ZONE</span> (220 m<sup>2</sup>)</p>
          </div>

          <div class="panel transparent texte-deroulant dropdown-menu" aria-labelledby="dropdown1">
	      <p>Un espace dédié à 15 studios indépendants et Start Up «
	made in France » pour vous faire découvrir et partager leur
	nouveaux projets et dernières innovations.
	Un espace participatif pour s’informer sur les formations
	ou les filières métiers, rencontrer et échanger avec des
	professionnels du secteur.</p>
	      <p><span style="font-weight: bold;">Quelques noms en avant première :</span> He Saw, Cyanide,
	Wild Factor, Lightbulbcrew, OSome, Aurora Studio, Crown
	takers, Seaven Studio, Hide, Fireworkscommandship, Enter
	the Rift…</p>
         </div>
      </div>
      



     <div class="col-md-6 col-xs-6 image-deroulante dropdown">
          <div class="image-titre dropdown-toggle" data-toggle="dropdown" id="dropdown3" aria-expanded="true">
	      <%= image_tag "image_presentation_tiny_3.png", class:"img-responsive" %>
	      <p><span class="orange bold">GAMING ZONE</span> (250 m<sup>2</sup>)</p>
          </div>

          <div class="panel transparent texte-deroulant dropdown-menu" aria-labelledby="dropdown3">
	      <p>En partenariat avec Xbox One, Sony Computer, Nintendo,
	l’association Ouest Game et les médiathèques de
        l’agglomération d’Essonne, un espace de jeu en libre accès avec
	plus de 65 bornes de jeux et ateliers gaming et (ou)
        tournois amateurs. Venez tester toutes les nouveautés des
        éditeurs partenaires !</p>
	      <p><span style="font-weight: bold">Quelques noms en avant première :</span> Nintendo, Playstation
	4, Xbox One, Bandai Namco, Capcom, Konami, Warner
	Bros Games…</p>
         </div>
      </div>

      </div>


  </div>


</div>



<div class="row panel transparent dropdown panel-deroulant">
  <div class="panel-heading text-center bold dropdown-toggle" data-toggle="dropdown" id="dropdown5" aria-expanded="true">
    <h3>Evry, ville numérique</h3>
  </div>
  <div class="panel transparent panel-body dropdown-menu" aria-labelledby="dropdown5">
    <span><h4 class="orange small_bold">Évry ville connectée</h4>
   Ambition majeure de la Ville d’Évry, le numérique est plus que jamais implanté sur notre territoire. Salles informatiques renforcées, partage de contenus, accès à internet amélioré, l’école 2.0 est bien installée à Évry ! Grâce aux nombreuses grandes écoles présentes, Télécom Sud Paris, l’ENSIIE ou encore Télécom École de Management, l’informatique est l’un des atouts de notre territoire.<br /><br />

Sans compter que la Fibre optique arrive. Une convention entre Orange, les Villes d’Évry et de Ris-Orangis et l’Agglomération Évry Centre Essonne a récemment été signée pour permettre le déploiement de l’internet à très haut débit dans tous les quartiers, dans toutes les habitations.<br />

L’objectif : une couverture complète d’ici la fin 2018 ( déjà, 33% de couverture fin 2015 )<br /><br />
Rejoignez la Ville d’Évry sur <%= link_to "Facebook", "https://www.facebook.com/pages/Evry/47685962630", target: "_blank" %>, <%= link_to "Twitter", "https://twitter.com/villedevry", target: "_blank" %> et <%= link_to "evry.fr", "http://www.evry.fr/", target: "_blank" %>.<br /><br />

<%= image_tag "Partenaires_LOGOS_EVRY_bis.png", class: "img-responsive" %>

    <h4 class="orange small_bold">La jeunesse, au cœur d’Évry</h4>
   
25 000. Voilà un chiffre impressionnant. Près de 25 000 personnes ont moins de 30 ans à Évry, ville la plus jeune de France. Parallèlement, notre territoire accueille 16 000 étudiants qui viennent tout au long de l’année faire leurs études. Logiquement, la jeunesse est au cœur de nos ambitions, de nos projets. Citoyens en devenir, porteurs de rêves, de propositions, les 15-30 ans sont prêts à relever les nombreux défis qui les attendent. Leur rôle : devenir acteur de leur vie, de leur ville, de leur pays. Le rôle de la municipalité: les accompagner, les encourager, leur donner les moyens d’atteindre leurs objectifs, quels qu’ils soient, transformer leur dynamisme, leur motivation en réussite.
    </span>
  </div>
</div>


<div class="row panel transparent dropdown panel-deroulant">
  <div class="panel-heading text-center bold dropdown-toggle" data-toggle="dropdown" id="dropdown6" aria-expanded="true">
    <h3>L’ENSIIE, grande école d’excellence</h3>
  </div>
  <div class="panel transparent panel-body dropdown-menu" aria-labelledby="dropdown6">
    <span><h4 class="orange small_bold">École Nationale Supérieure d’Informatique pour l’Industrie et l’Entreprise - ENSIIE</h4>

Depuis 1968, l’ENSIIE délivre un diplôme d’ingénieur en informatique. Certifiée ISOinformatique. Certifiée ISO 9001, elle accueille chaque année 130 étudiants en cycle initial, 30 en apprentissage et 40 élèves dans son antenne de Strasbourg.<br /><br />

L’ENSIIE tire la force du triple positionnement de sa formation, sur les mathématiques, l’informatique et l’organisation des entreprises. Les étudiants ont accès en 3ème année aux 11 masters recherche co-opérés avec l'Université de Paris-Saclay et l’Université de Strasbourg.<br /><br />

Depuis 3 ans l’ENSIIE a opéré un rapprochement pour intégrer l’Institut Mines Télécom. Avec Télécom SudParis (TSP) et Télécom École de Management (TEM), l'ENSIIE oeuvre pour faire du site d'Évry la première plate-forme nationale de formation d’ingénieurs en informatique et en TIC, tournée vers l’innovation et la création d’entreprise.<br /><br />

Depuis 2012, l’ENSIIE développe le projet de cluster ISR (Innovation Socialement Responsable) sur les jeux vidéo et l'urbanisme collaboratif. Situé sur 2500 m², en plein coeur d’Évry et labellisé par Cap Digital, le cluster a pour objectif de conjuguer recherche, formation entrepreneuriat et cultures numériques. En 2013 a été accueillie la première équipe en pré-incubation, pour favoriser le développement de maquettes et de prototypes, en septembre 2014 a été inaugurée la première formation sur les Jeux Vidéo.</span>

  </div>
</div>
