<div class="panel transparent">
  <div class="panel-body text-center bold">
    <h1 class="contact-title"> Evry Games City 2015 </h1>
    Première édition
  </div>
</div>

<div class="panel transparent">

  <div class="panel-heading text-center bold">
    <h3>Présentation de l'évènement</h3>
  </div>

  <div class="panel-body">
    <div class="col-md-12 col-xs-12">

      <h3 class="bold orange" style="font-size: 18px;">EVRY GAMES CITY, C’EST QUOI ?</h3>
      <p style="">
         A l’initiative de l’ENSIIE (Ecole Nationale Supérieure d’Informatique pour l’Industrie et l’Entreprise) et la Mairie de Evry Centre
         Essonne (91), <span class="orange" style="">EVRY GAMES CITY</span> c’est le nouveau grand rendez-vous annuel « so gaming » de la
         culture numérique et du jeu vidéo en France.
      </p>
      <p style="">
        <span class="orange">EVRY GAMES CITY</span> ce n’est pas un salon , mais un événement d’un nouveau genre qui a pour
        ambition de permettre à un large public de se rencontrer, de partager et de découvrir les dernières innovations du
        secteur.
      </p>
      <p style="">
        Pour cette première édition, <span class="orange">EVRY GAMES CITY</span> voit grand :
      </p><br />
      <p class="bold" style="font-family:'helvetica'; font-size: 26px; font-style: italic; font-weight: bold;"><%="2 jours de programmation unique ouverte a tous les publics...".upcase%></p>
    </div>

    <div class="row">
      <div class="col-md-6 col-xs-6 image-deroulante dropdown">
          <div class="image-titre dropdown-toggle" data-toggle="dropdown" id="dropdown1" aria-expanded="true">
	      <%= image_tag "image_presentation_tiny_1.png", class:"img-responsive"%>
	      <p><span class="orange bold" >DISCOVERY ZONE</span> (220 m<sup>2</sup>)</p>
          </div>

          <div class="panel transparent texte-deroulant dropdown-menu" aria-labelledby="dropdown1">
	      <p>Un espace dédié à 15 studios indépendants et Start Up «
	made in France » pour vous faire découvrir et partager leur
	nouveaux projets et dernières innovations.
	Un espace participatif pour s’informer sur les formations
	ou les filières métiers, rencontrer et échanger avec des
	professionnels du secteur.</p>
	      <p><span style="font-weight: bold;">Quelques noms en avant première :</span> He Saw, Cyanide,
	Wild Factor, Lightbulbcrew, OSome, Aurora Studio, Crown
	takers, Seaven Studio, Hide, Fireworkscommandship, Enter
	the Rift…</p>
         </div>
      </div>
      <div class="col-md-6 col-xs-6 image-deroulante dropdown">
          <div class="image-titre dropdown-toggle" data-toggle="dropdown" id="dropdown2" aria-expanded="true">
	      <%= image_tag "image_presentation_tiny_2.png", class:"img-responsive" %>
	      <p><span class="orange bold">PLAYING ZONE</span> (220 places)</p>
          </div>

          <div class="panel transparent texte-deroulant dropdown-menu" aria-labelledby="dropdown2">
	      <p>Des tournois e-sport avec un cashprize global à hauteur
	de 10 000 euros où 200 des meilleurs gamers francais
	du moment se challengeront pendant 2 jours sur une
        sélection de plusieurs jeux : Counter Strike : Global Offensive,
	League of Legends, Starcraft 2, HearthStone.</p>
	      <p><span style="font-weight: bold;">Quelques noms en avant première :</span> AaA, Imaginary
        Gaming, Remake eSport, Melty. Côté Starcraft 2, le grand
	Stephano sera présent !</p>
         </div>
      </div>

    </div>


    <div class="row">
     <div class="col-md-6 col-xs-6 image-deroulante dropdown">
          <div class="image-titre dropdown-toggle" data-toggle="dropdown" id="dropdown3" aria-expanded="true">
	      <%= image_tag "image_presentation_tiny_3.png", class:"img-responsive" %>
	      <p><span class="orange bold">GAMING ZONE</span> (250 m<sup>2</sup>)</p>
          </div>

          <div class="panel transparent texte-deroulant dropdown-menu" aria-labelledby="dropdown3">
	      <p>En partenariat avec Xbox One, Sony Computer, Nintendo,
	l’association Ouest Game et les médiathèques de
        l’agglomération d’Essonne, un espace de jeu en libre accès avec
	plus de 65 bornes de jeux et ateliers gaming et (ou)
        tournois amateurs. Venez tester toutes les nouveautés des
        éditeurs partenaires !</p>
	      <p><span style="font-weight: bold">Quelques noms en avant première :</span> Nintendo, Playstation
	4, Xbox One, Bandai Namco, Capcom, Konami, Warner
	Bros Games…</p>
         </div>
      </div>

      <div class="col-md-6 col-xs-6 image-deroulante dropdown">
          <div class="image-titre dropdown-toggle" data-toggle="dropdown" id="dropdown4" aria-expanded="true">
	      <%= image_tag "image_presentation_tiny_4.png", class:"img-responsive" %>
	      <p><span class="orange bold">CONFERENCES</span> (3 conférences)</p>
          </div>

          <div class="panel transparent texte-deroulant dropdown-menu" aria-labelledby="dropdown4">
	      <p>CONFERENCES de 13h à 17h30 (200 places par thème).
	3 conférences seront organisées par par Dièse Junior-Entreprise de l'ENSIIE au
	théâtre de l’Agora avec pour thèmes :</p>
	      <p><span class="orange" style="font-weight: bold;">1)</span> Entreprendre et se professionnaliser : O'gaming (12h45 - 14h)<br />
	<span class="orange" style="font-weight: bold;">2)</span> Le jeu vidéo made in France, un industrie en plein essor : AFJV et capital Games (14h15 - 15h30)<br />
	<span class="orange" style="font-weight: bold;">3)</span> Stratégie de développement d'une multinationale de l'ère du Numérique : ALTEN ( 15h45 - 17h30)</p>
         </div>
      </div>

    </div>


    <div class="row soiree">
      <div class="soiree_texte">
      <div class="col-md-5"></div>
      <div class="col-md-7">
      <div class="bold visible-xs col-xs-12 orange">
        <h3>LA SOIREE EVENEMENT</h3>
      </div>
      <div class="bold col-md-12">
        <h4>DE 20h A 22h40 SAMEDI 25 AVRIL</h4>
      </div>
	<p>
	En partenariat avec Virgin Radio et Game One, un show spectacle 
	« so gaming » totalement déjanté animé par Gen1us (animateur 
	Game One) et Sacha Judaskzo (humoriste « on ne demande 
	qu’à en rire » France 2). 
	</p>
	<p>
	Et si ces deux sacrés personnages étaient deux jeunes
        colocataires et que vous découvriez leur drôle d’intimité lors d’une
        soirée ? « Gen1us adore les jeux vidéo, mais pas Sacha qui possède 
	de sévères à priori sur ce sujet. Cela va laisser place à de
        nombreux quiproquo, engueulades, fou-rires, lors de cette soirée où 
	de nombreux amis qui veulent absolument essayer les nouvelles 
	sorties jeux vidéo vont passer chez eux. »
	</p>
	<p>
	De nombreuses surprises, guests spécialistes des jeux vidéo et 
	(ou) du spectacle viendront faire un tour sur scène pendant la 
	soirée, pour proposer au public un show totalement interactif et 
	participatif autour de l’univers de chacun des jeux présentés.
	</p>
	<p>
	Des tonnes de dotations seront offertes tout au long de la soirée.
	</p>
      </div>

      </div>
    </div>
  </div>


</div>



<div class="row panel transparent dropdown panel-deroulant">
  <div class="panel-heading text-center bold dropdown-toggle" data-toggle="dropdown" id="dropdown5" aria-expanded="true">
    <h3>Evry, ville numérique</h3>
  </div>
  <div class="panel transparent panel-body dropdown-menu" aria-labelledby="dropdown5">
    <span><h4 class="orange small_bold">Évry ville connectée</h4>
   Ambition majeure de la Ville d’Évry, le numérique est plus que jamais implanté sur notre territoire. Salles informatiques renforcées, partage de contenus, accès à internet amélioré, l’école 2.0 est bien installée à Évry ! Grâce aux nombreuses grandes écoles présentes, Télécom Sud Paris, l’ENSIIE ou encore Télécom École de Management, l’informatique est l’un des atouts de notre territoire.<br /><br />

Sans compter que la Fibre optique arrive. Une convention entre Orange, les Villes d’Évry et de Ris-Orangis et l’Agglomération Évry Centre Essonne a récemment été signée pour permettre le déploiement de l’internet à très haut débit dans tous les quartiers, dans toutes les habitations.<br />

L’objectif : une couverture complète d’ici la fin 2018 ( déjà, 33% de couverture fin 2015 )<br /><br />
Rejoignez la Ville d’Évry sur <%= link_to "Facebook", "https://www.facebook.com/pages/Evry/47685962630", target: "_blank" %>, <%= link_to "Twitter", "https://twitter.com/villedevry", target: "_blank" %> et <%= link_to "evry.fr", "http://www.evry.fr/", target: "_blank" %>.<br /><br />

<%= image_tag "Partenaires_LOGOS_EVRY_bis.png", class: "img-responsive" %>

    <h4 class="orange small_bold">La jeunesse, au cœur d’Évry</h4>
   
25 000. Voilà un chiffre impressionnant. Près de 25 000 personnes ont moins de 30 ans à Évry, ville la plus jeune de France. Parallèlement, notre territoire accueille 16 000 étudiants qui viennent tout au long de l’année faire leurs études. Logiquement, la jeunesse est au cœur de nos ambitions, de nos projets. Citoyens en devenir, porteurs de rêves, de propositions, les 15-30 ans sont prêts à relever les nombreux défis qui les attendent. Leur rôle : devenir acteur de leur vie, de leur ville, de leur pays. Le rôle de la municipalité: les accompagner, les encourager, leur donner les moyens d’atteindre leurs objectifs, quels qu’ils soient, transformer leur dynamisme, leur motivation en réussite.
    </span>
  </div>
</div>


<div class="row panel transparent dropdown panel-deroulant">
  <div class="panel-heading text-center bold dropdown-toggle" data-toggle="dropdown" id="dropdown6" aria-expanded="true">
    <h3>L’ENSIIE, grande école d’excellence</h3>
  </div>
  <div class="panel transparent panel-body dropdown-menu" aria-labelledby="dropdown6">
    <span><h4 class="orange small_bold">École Nationale Supérieure d’Informatique pour l’Industrie et l’Entreprise - ENSIIE</h4>

Depuis 1968, l’ENSIIE délivre un diplôme d’ingénieur en informatique. Certifiée ISOinformatique. Certifiée ISO 9001, elle accueille chaque année 130 étudiants en cycle initial, 30 en apprentissage et 40 élèves dans son antenne de Strasbourg.<br /><br />

L’ENSIIE tire la force du triple positionnement de sa formation, sur les mathématiques, l’informatique et l’organisation des entreprises. Les étudiants ont accès en 3ème année aux 11 masters recherche co-opérés avec l'Université de Paris-Saclay et l’Université de Strasbourg.<br /><br />

Depuis 3 ans l’ENSIIE a opéré un rapprochement pour intégrer l’Institut Mines Télécom. Avec Télécom SudParis (TSP) et Télécom École de Management (TEM), l'ENSIIE oeuvre pour faire du site d'Évry la première plate-forme nationale de formation d’ingénieurs en informatique et en TIC, tournée vers l’innovation et la création d’entreprise.<br /><br />

Depuis 2012, l’ENSIIE développe le projet de cluster ISR (Innovation Socialement Responsable) sur les jeux vidéo et l'urbanisme collaboratif. Situé sur 2500 m², en plein coeur d’Évry et labellisé par Cap Digital, le cluster a pour objectif de conjuguer recherche, formation entrepreneuriat et cultures numériques. En 2013 a été accueillie la première équipe en pré-incubation, pour favoriser le développement de maquettes et de prototypes, en septembre 2014 a été inaugurée la première formation sur les Jeux Vidéo.</span>

  </div>
</div>
