<div class="row">

     <div class="col-md-12">
	<div class="panel panel-default banniere-game">
	  <div class="panel-body">
	    <%= image_tag t("csgo.banniere"), class: "img-responsive" %>
	    <!--div class="game-title text-center col-md-12">
	      <h1 class="bold"><%= t("csgo.name") %></h1>
	    </div-->
	  </div>
	</div>
      </div>
</div>

<!-- billeterie -->
<div class="panel panel-iframe">
  <iframe class="embed-responsive-item" width="300" height="88" src="//www.toornament.com/widget/tournaments/54d621a2150ba0424a8b45e0/registration?_locale=fr_FR" frameborder="0" allowfullscreen></iframe>
</div>

<!--div class="panel transparent">
  <div class="panel-body text-center">
    Les qualifications seront hebdomadaires et se dérouleront le vendredi et le samedi.<br />
    Inscrivez-vous sur Glory4gamers, et choisissez un jour de qualification parmi les suivants :<br />
                                  <%= link_to "vendredi 13/03/2015", "http://www.glory4gamers.com/fr/tournoi/qualifier-evry-games-city-ndeg3/infos", target: "blank" %>
                                 - <%= link_to "samedi 14/03/2015", "http://www.glory4gamers.com/fr/tournoi/qualifier-evry-games-city-ndeg4/infos", target: "blank" %>
                                 - <%= link_to "vendredi 20/03/2015", "http://www.glory4gamers.com/fr/tournoi/qualifier-evry-games-city-ndeg5/infos", target: "blank" %>
                                 - <%= link_to "samedi 21/03/2015", "http://www.glory4gamers.com/fr/tournoi/qualifier-evry-games-city-ndeg6/infos", target: "blank" %>
                                 - <%= link_to "vendredi 27/03/2015", "http://www.glory4gamers.com/fr/tournoi/qualifier-evry-games-city-ndeg7/infos", target: "blank" %>
                                 - <%= link_to "samedi 28/03/2015", "http://www.glory4gamers.com/fr/tournoi/qualifier-evry-games-city-ndeg8/infos", target: "blank" %>.
  </div>
</div-->


<div class="row">

	<div class="col-md-6"><!-- LEFT COLUMN -->

          <!-- informations -->
          <div class="panel panel-iframe">
	      <iframe class="embed-responsive-item" width="100%" height="380" src="//www.toornament.com/widget/tournaments/54d621a2150ba0424a8b45e0/information?_locale=en_GB" frameborder="0" allowfullscreen></iframe> 
          </div>

          <!-- participants -->
          <div class="panel panel-iframe">
	    <iframe class="embed-responsive-item" width="100%" height="380" src="//www.toornament.com/widget/tournaments/54d621a2150ba0424a8b45e0/participants?_locale=en_GB" frameborder="0" allowfullscreen></iframe>
          </div>
          <!--div class="panel transparent">
            <div class="panel-heading text-center">
              <h4>GUESTS</h4>
            </div>
            <div class="panel-body">
              <ul><li>LDLC White</li>
              <li>LDLC Blue</li>
              <li>Melty Esport Club</li></ul>
            </div>
          </div--> 

	</div>

	<div class="col-md-6"><!-- RIGHT COLUMN -->



	<div class="panel transparent">
	  <div class="panel-heading text-center">
	    <h4>REGLES</h4>
	  </div>
	  <div class="panel-body">
	    <h4>Tournois 16 slots sur inscription, avec un arbre Pro et un arbre Amateur</h4>
	    <h4 class="orange">Déroulement  sur place : </h4>
	    <ul>
	      <li>Phase de poule en BO1</li>
	      <li>Déroulement du tournoi à partir des quarts de finales en BO3</li>
	      <li>Finale en BO3</li>
	    </ul>

	    Pour plus de précisions, merci de vous référencer aux document des Masters Français du Jeu Vidéo disponibles <%= link_to "ici", "http://www.mastersjeuvideo.org/files/rules/Annexe_CSGO_2014-2015.pdf", target: :blank %>
	  </div>
	</div>

	  <div class="panel transparent">
	    <div class="panel-heading text-center">
	      <h4 class="recompenses">RECOMPENSES</h4>
	    </div>
	    <div class="panel-body">
	Cash prize de 5000 euros à répartir entre les 3 premiers.
	    </div>
	  </div>


	  <div class="panel transparent">
	    <div class="panel-heading text-center">
	      <h4 class="materiel">MATERIEL</h4>
	    </div>
	    <div class="panel-body">
	      <h4 class="orange">Les joueurs doivent amener :</h4>
	      <div class="tabule">- Leur ordinateur personnel (fixe ou portable)</div>
	      <div class="tabule">- Leurs périphériques (clavier, souris, casque)</div>
	      <div class="tabule">- Un câble RJ45 (câblage droit) de 3m minimum</div>
	      <br />
	      <p>Tout joueur doit respecter son propre matériel, le matériel des autres joueurs, ainsi que le matériel mis à sa disposition sous peine de se faire exclure de l'événement. Une équipe de sécurité se tiendra à votre disposition afin de garantir le bon déroulement de l'événement.</p>
	    </div>
	  </div>


	</div>


</div>


<div class="row"><!-- bracket -->
	<div class="col-md-12">
          <div class="panel panel-iframe">
	    <iframe class="embed-responsive-item" width="100%" height="650" src="//www.toornament.com/widget/tournaments/54d621a2150ba0424a8b45e0/stages/1?_locale=en_GB" frameborder="0" allowfullscreen></iframe> 
          </div>
	</div>

</div>
