<div class="row">

     <div class="col-md-12">
	<div class="panel panel-default banniere-game">
	  <div class="panel-body">
	    <%= image_tag t("csgo.banniere"), class: "img-responsive" %>
	    <!--div class="game-title text-center col-md-12">
	      <h1 class="bold"><%= t("csgo.name") %></h1>
	    </div-->
	  </div>
	</div>
      </div>
</div>

<!-- billeterie
<div class="panel panel-iframe">
  <iframe class="embed-responsive-item" width="300" height="88" src="//www.toornament.com/widget/tournaments/54d621a2150ba0424a8b45e0/registration?_locale=fr_FR" frameborder="0" allowfullscreen></iframe>
</div> -->

<!--div class="panel transparent">
  <div class="panel-body text-center">
    Les qualifications seront hebdomadaires et se dérouleront le vendredi et le samedi.<br />
    Inscrivez-vous sur Glory4gamers, et choisissez un jour de qualification parmi les suivants :<br />
                                  <%= link_to "vendredi 13/03/2015", "http://www.glory4gamers.com/fr/tournoi/qualifier-evry-games-city-ndeg3/infos", target: "blank" %>
                                 - <%= link_to "samedi 14/03/2015", "http://www.glory4gamers.com/fr/tournoi/qualifier-evry-games-city-ndeg4/infos", target: "blank" %>
                                 - <%= link_to "vendredi 20/03/2015", "http://www.glory4gamers.com/fr/tournoi/qualifier-evry-games-city-ndeg5/infos", target: "blank" %>
                                 - <%= link_to "samedi 21/03/2015", "http://www.glory4gamers.com/fr/tournoi/qualifier-evry-games-city-ndeg6/infos", target: "blank" %>
                                 - <%= link_to "vendredi 27/03/2015", "http://www.glory4gamers.com/fr/tournoi/qualifier-evry-games-city-ndeg7/infos", target: "blank" %>
                                 - <%= link_to "samedi 28/03/2015", "http://www.glory4gamers.com/fr/tournoi/qualifier-evry-games-city-ndeg8/infos", target: "blank" %>.
  </div>
</div-->


<div class="row">

	<div class="col-md-6"><!-- LEFT COLUMN -->

          <!-- informations -->
          <div class="panel panel-iframe">
	      <iframe width="100%" height="380" src="https://widget.toornament.com/tournaments/569117eb150ba04a588b4567/" frameborder="0" scrolling="no" allowfullscreen="true"></iframe> 
          </div>

          <!-- participants 
          <div class="panel panel-iframe">
	    <iframe width="100%" height="380" src="https://widget.toornament.com/tournaments/56911bab150ba044598b4574/participants?_locale=fr_FR&theme=discipline" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
          </div>-->
          <!--div class="panel transparent">
            <div class="panel-heading text-center">
              <h4>GUESTS</h4>
            </div>
            <div class="panel-body">
              <ul><li>LDLC White</li>
              <li>LDLC Blue</li>
              <li>Melty Esport Club</li></ul>
            </div>
          </div--> 

	</div>

	<div class="col-md-6"><!-- RIGHT COLUMN -->



	<div class="panel transparent">
	  <div class="panel-heading text-center">
	    <h4>REGLES</h4>
	  </div>
	  <div class="panel-body">
	    <h4>Tournois 24 slots sur inscription</h4>
	    <h4 class="orange">Déroulement online : </h4>
	    <ul>
	      <li>Phase de poule en BO1</li>
	      <li>Déroulement du tournoi à partir des quarts de finales en BO3</li>
	    </ul>
	    <h4 class="orange">Déroulement de la finale offline : </h4>
	    La finale se déroulera en BO5.<br />
	    Elle aura lieu lors d'Evry Games City, les 16 et 17 Avril 2016, aux Arènes de l'Agora, 91000 Evry.<br />
	    Tous les résultats de vos matchs devront être envoyés à <a href="mailto:contact@theesportacademy.com">The eSport Academy</a>, screen à l'appui.

	  </div>
	</div>

	  <div class="panel transparent">
	    <div class="panel-heading text-center">
	      <h4 class="recompenses">RECOMPENSES</h4>
	    </div>
	    <div class="panel-body">
	    	Coming soon.
<!--<span class="orange">1er</span> : 2500€, 5 Claviers, 5 Casques, 5 Souris, 5 Paires d'écouteurs, 5 Tapis de souris<br />
<span class="orange">2ème</span> : 1500€, 5 Casques, 5 Souris, 5 Paires d'écouteurs, 5 Tapis de souris<br />
<span class="orange">3ème</span> : 1000€, 5 Souris, 5 Paires d'écouteurs, 5 Tapis de souris<br />-->


	    </div>
	  </div>


	</div>


</div>


<!--<div class="row">
	<div class="col-md-12">
          <div class="panel panel-iframe">
	    <iframe class="embed-responsive-item" width="100%" height="650" src="//www.toornament.com/widget/tournaments/54d621a2150ba0424a8b45e0/stages/1?_locale=en_GB" frameborder="0" allowfullscreen></iframe> 
          </div>
	</div>-->

</div>
