
<div class="panel panel-default banniere-game">
  <div class="panel-body">
    <%= image_tag t("lol.banniere"), class: "img-responsive" %>
    <!--div class="game-title text-center col-md-12">
      <h1 class="bold"><%= t("lol.name") %></h1>
    </div-->
  </div>
</div>



<div class="panel transparent">
  <div class="panel-heading text-center">
    <h4>REGLES</h4>
  </div>
  <div class="panel-body">
    <h4>Tournois 16 slots sur inscriptions.</h4>
    <h4 class="orange">Déroulement  sur place : </h4>
    <ul>
      <li>Phase de poule en BO1</li>
      <li>Déroulement du tournoi à partir des quarts de finales en BO3</li>
      <li>Finale en BO5</li>
    </ul>

    Pour plus de précisions, merci de vous référencer aux document des Masters Français du Jeu Vidéo disponibles <%= link_to "ici", "http://www.mastersjeuvideo.org/files/rules/Annexe_LoL_2014-2015.pdf", target: :blank %>

  </div>
</div>


<%= render partial: 'jeux/jeu_subsection', locals: { gametag: :lol, categ: :materiel} %>
<%= render partial: 'jeux/jeu_subsection', locals: { gametag: :lol, categ: :recompenses} %>

