
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!--img src="assets/carousel_1.jpg" alt="..."-->
      <%= image_tag "SlideShow_EGC_1.jpg", alt: "..." %>
      <div class="carousel-caption bold">
      </div>
    </div>
    <div class="item">
      <%= image_tag "SlideShow_EGC_2.jpg", alt: "..." %>
      <div class="carousel-caption">
          <h3></h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "SlideShow_EGC_3.jpg", alt: "..." %>
      <div class="carousel-caption">
          <h3></h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "SlideShow_EGC_4.jpg", alt: "..." %>
      <div class="carousel-caption">
          <h3></h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "SlideShow_EGC_5.jpg", alt: "..." %>
      <div class="carousel-caption">
          <h3></h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "SlideShow_EGC_6.jpg", alt: "..." %>
      <div class="carousel-caption">
          <h3></h3>
      </div>
    </div>

  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <!--span class="glyphicon glyphicon-chevron-left"></span-->
    <%= image_tag "Fleche_gauche.png", class: "left-control control" %>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <!--span class="glyphicon glyphicon-chevron-right"></span-->
    <%= image_tag "Fleche_droite.png", class: "right-control control" %>
  </a>
</div> <!-- Carousel -->
