<header>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
<div class="navbar-inner">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%#= link_to t('egc.name'), root_path, class: "navbar-brand" %>
      <div class="<%=set_active("home")%>">
        <a href="<%=root_path%>" class="navlink" style="display:block;">
          <%= image_tag "LOGO_LONG_BLACK_EGC-mini.png", height: 50 %>
        </a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!--li class="dropdown <%= set_active("informations") %>" >
          <a href="#" class="dropdown-toggle navlink" data-toggle="dropdown"
                      role="button" aria-expanded="false">
            <%= t(:informations) %><span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to t("infolan.name"), informations_path(anchor: :infolan), class: "anchor-link" %></li>
            <li><%= link_to t("infolieu.name"), informations_path(anchor: :infolieu), class: "anchor-link" %></li>
            <li><%= link_to t("infodate.name"), informations_path(anchor: :infodate), class: "anchor-link"  %></li>
            <li><%= link_to t("infomoyen.name"), informations_path(anchor: :infomoyen), class: "anchor-link"  %></li>
            <li><%= link_to t("infoprix.name"), informations_path(anchor: :infoprix), class: "anchor-link"  %></li>
            <li><%= link_to t("infoservice.name"), informations_path(anchor: :infoservice), class: "anchor-link"  %></li>
          </ul>
        </li-->
        <li class="<%= set_active("presentation")%>">
          <a class="navlink" href="/presentation">L'EVENEMENT</a>
        </li>
        <li class="<%= set_active("informations")%>">
          <a class="navlink" href="/informations"><%= t(:informations)%></a>
        </li>


        <li class="dropdown <%= set_active("jeux") %>">
          <a href="#" class="dropdown-toggle navlink" data-toggle="dropdown"
                     role="button" aria-expanded="false">
            Tournois<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to t('csgo.name'), jeux_csgo_path %></li>
            <li><%= link_to t('lol.name'), jeux_lol_path %></li>
            <li><%= link_to t('sc2.name'), jeux_sc2_path %></li>
            <li><%= link_to t('hs.name'), jeux_hs_path %></li>
            <!--li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li-->
          </ul>
        </li>
        <li class="dropdown <%= set_active("contact_egc") || set_active("contact_egs") %>" >
          <a href="#" class="dropdown-toggle navlink" data-toggle="dropdown"
                      role="button" aria-expanded="false">
            <%= t(:contact) %><span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to t('egc.name'), contact_egc_path %></li>
            <li><%= link_to t('egs.name'), contact_egs_path %></li>
          </ul>
        </li>
        <li class="<%= set_active("partenaires")%>">
          <a class="navlink" href="/partenaires"><%= t(:partenaires) %></a>
        </li>
        <!--li class="<%= set_active("reglement")%>">
          <a class="navlink" href="/reglement"><%= t(:reglement)%></a>
        </li-->
      </ul>



      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li>
          <a class="fb-icon hover" href="https://www.facebook.com/pages/Evry-Games-City/744555588972740" target="_blank">
            <%= image_tag "Facebook_Menu_icon_1.png", class: "white-icon" %>
            <%= image_tag "Facebook_Menu_icon_2.png", class: "orange-icon" %>
          </a>
        </li>
        <li>
          <a class="tw-icon hover" href="https://twitter.com/EvryGamesCity" target="_blank">
            <%= image_tag "Twitter_Menu_icon_1.png", class: "white-icon" %>
            <%= image_tag "Twitter_Menu_icon_2.png", class: "orange-icon" %>
          </a>
        </li>
        <li>
          <a class="igm-icon hover" href="https://instagram.com/EvryGamesCity" target="_blank">
            <%= image_tag "Instagram_Menu_icon_1.png", class: "white-icon" %>
            <%= image_tag "Instagram_Menu_icon_2.png", class: "orange-icon" %>
          </a>
        </li>
      </ul>



    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
</nav>
</header>
